.weather{
    place-self:center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg,#2f4680,#500ae4);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.search-bar{
    display: flex;
    flex-direction: row;
   
    
   
}
.search{
    display: flex;
    align-items: center;
    height: 60px;
    width: 300px;
    margin-right: 20px;
    border-radius: 40px;
    padding: 30px;
    font-size: 20px;
    border: none;
    outline: none;
}
.search-bar img{
    background: white;
    height: 60px;
    width: 60px;
    border-radius:50%;
    padding: 20px;
    cursor: pointer;
    background: #ebfffc;
}
.weather-icon{
    margin: 15px 0px;
    height: 150px;

}
.Temperature{
    font-size: 80px;
    color: #fff;
    line-height: 1;
}
.City{
    font-size: 40px;
    color: #fff;
}
.weather-data{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
    color: #fff;

}
.col{
    padding: 40px;
    display: flex;
    
    
}
.col img{
    margin-right: 20px;
}